.container1 {
    margin-top: 10vh;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .header1 {
    padding-top: 30px;
    color: #393333;
    font-size: 24px;
    margin: auto;
    line-height: 50px;
  }
  
  .sub-container1 {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .teams {
    margin: 10px;
    padding: 22px;
    width: 23%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .teams:hover {
    background-color: #d8d7da;
    color: rgb(122, 121, 125);
    transform: scale(1.05);
  }
  
  .teams img {
    width: 100%;
    border-radius : 70%;
    height: auto;
  }
  
  .name {
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .bs-btn {
    background-color: #26bb12;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bs-btn:hover {
    background-color: #0f6810;
  }
  
  .social-links {
    margin: 14px;
  }
  
  .social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: transform 2s;
  }
  
  .social-links a:hover {
    transform: scale(1.5);
  }
  
  @media screen and (max-width: 1200px) {
    .teams {
      width: 48%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .teams {
      width: 100%;
    }
  }
  