body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .app-alpha{
    margin : 10vh;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #3b8618;
    font-size: 3rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .card p {
    color: #777;
  }
  
  .card .price {
    font-size: 1.2em;
    color: #333;
  }
  
  .card button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .card button:hover {
    background-color: #218838;
  }
  