.lr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.lr-form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.lr-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.lr-input-group {
  margin-bottom: 15px;
  text-align: left;
}

.lr-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.lr-input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.lr-submit-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.lr-submit-button:hover {
  background-color: #45a049;
}

.lr-toggle-link {
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
}

.lr-toggle-link:hover {
  color: #0056b3;
}
